.container{
  width: 100vw;
  height: 100vh;
  display: flex;  
}

.lontra{
  align-items: center;
  justify-content: center;
  border-radius: 100px;

}

.containerLontra{
  border-radius: 100px;
  
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
